<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.wso2.carbonstudio.eclipse.greg.viewer.action" name="WSO2 Registry Viewer Action Contributor" schema="schema/org.wso2.carbonstudio.eclipse.greg.viewer.action.exsd"/>
	<extension point="org.eclipse.ui.views">
		<view id="org.wso2.carbonstudio.registry.remote.registry.view" name="WSO2 Registry Browser" icon="icons/registry.png"
			class="org.wso2.carbonstudio.eclipse.greg.manager.remote.views.RegistryBrowserView" />
	</extension>

	<extension point="org.eclipse.ui.views">
		<view id="org.wso2.carbonstudio.eclipse.registry.properties" name="Resource Metadata"
			class="org.wso2.carbonstudio.eclipse.greg.manager.remote.views.RegistryPropertyViewer"
			icon="icons/registryProperties.png" />
	</extension>

</plugin>
