<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="org.wso2.developerstudio.eclipse.capp.project.artifacts"
		name="CApp Project Artifact Registering Extension Point"
		schema="schema/org.wso2.developerstudio.eclipse.capp.project.artifacts.exsd" />
	<!--extension point="org.eclipse.ui.newWizards">
		<wizard name="Carbon Application Project" category="org.wso2.developerstudio.eclipse.capp.project"
			class="org.wso2.developerstudio.eclipse.capp.project.ui.wizard.CAppProjectWizard"
            finalPerspective="org.eclipse.jst.j2ee.J2EEPerspective"
			project="true"
			id="org.wso2.developerstudio.eclipse.capp.project" icon="icons/carbon-normal.png">
			<description>WSO2 Carbon Application Project</description>
		</wizard>
		<wizard name="Server Role" category="org.wso2.developerstudio.eclipse.capp.project/org.wso2.developerstudio.eclipse.capp.other"
			class="org.wso2.developerstudio.eclipse.capp.project.ui.wizard.NewServerRoleWizard"
			project="false"
			id="org.wso2.developerstudio.eclipse.capp.project.serverrole" icon="icons/ServerRoleNode.png">
			<description>WSO2 Carbon Application Project</description>
		</wizard>
	</extension-->
	
	   	<!--Property Tester-->
	<extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.wso2.developerstudio.eclipse.capp.project.property.CAppProjectPropertyTester"
            id="org.wso2.developerstudio.eclipse.capp.propertytester"
            namespace="org.wso2.developerstudio.eclipse"
            properties="CAppProjectIdentifier"
            type="org.eclipse.core.resources.IFolder">
      </propertyTester>
    </extension>
	
	<!--extension point="org.eclipse.ui.newWizards">
		<primaryWizard id="org.wso2.developerstudio.eclipse.capp.project" />
	</extension>
   	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="*">
      		<newWizardShortcut id="org.wso2.developerstudio.eclipse.capp.project"/>
		</perspectiveExtension>
	</extension>	
	<extension point="org.eclipse.ui.newWizards">
		<category name="WSO2" id="org.wso2.developerstudio.eclipse.capp.project">
		</category>
		<category name="Artifacts" id="org.wso2.developerstudio.eclipse.capp.artifacts" 
		parentCategory="org.wso2.developerstudio.eclipse.capp.project">
		</category>
		<category name="Other" id="org.wso2.developerstudio.eclipse.capp.other" 
		parentCategory="org.wso2.developerstudio.eclipse.capp.project">
		</category>
	</extension>
	<extension point="org.eclipse.core.resources.natures"
		id="org.wso2.developerstudio.eclipse.capp.project.nature" name="CApp Project Nature">
		<runtime>
			<run
				class="org.wso2.developerstudio.eclipse.capp.project.nature.CAppProjectNature">
			</run>
		</runtime>
	</extension>
	<extension point="org.eclipse.ui.ide.projectNatureImages">
		<image id="org.wso2.developerstudio.eclipse.capp.project.natureImage"
			natureId="org.wso2.developerstudio.eclipse.capp.project.nature" icon="icons/carbon-small.png">
		</image>
	</extension>
	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension
					pattern="org.wso2.developerstudio.eclipse.capp.project.navigotor.content.artifact" />
				<contentExtension
					pattern="org.wso2.developerstudio.eclipse.capp.project.filters.HideArtifactFolders" />
			</includes>
		</viewerContentBinding>
		<viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<actionExtension
					pattern="org.wso2.developerstudio.eclipse.capp.project.node.serverrole.navigator.content.actionProvider" />
			</includes>
		</viewerActionBinding>
	</extension>
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent activeByDefault="true"
			icon="icons/carbon-normal.png"
			id="org.wso2.developerstudio.eclipse.capp.project.navigotor.content.artifact"
			contentProvider="org.wso2.developerstudio.eclipse.capp.project.provider.CAppContentProvider"
			labelProvider="org.wso2.developerstudio.eclipse.capp.project.provider.CAppLabelProvider"
			name="CApp Artifact" priority="high">
			<triggerPoints>
				<or>
					<adapt type="org.eclipse.core.resources.IProject">
						<test property="org.eclipse.core.resources.projectNature"
							value="org.wso2.developerstudio.eclipse.capp.project.nature" />
					</adapt>
				</or>
			</triggerPoints>
			<possibleChildren>
				<instanceof value="org.wso2.developerstudio.eclipse.capp.project.model.ArtifactNode"/>
			</possibleChildren>
			<dropAssistant id="testid" class="org.wso2.developerstudio.eclipse.capp.project.provider.CAppDropAdapterAssistant">
				<possibleDropTargets>
					<instanceof value="org.wso2.developerstudio.eclipse.capp.project.model.ServerRoleNode"/>
				</possibleDropTargets>			
			</dropAssistant>
			<!commonWizard menuGroupId="org.wso2.developerstudio.eclipse.capp.export"
				type="export"
				wizardId="org.wso2.developerstudio.eclipse.capp.exporttocar">
				<enablement>
					<or>
						<adapt type="org.eclipse.core.resources.IProject">
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.capp.project.nature" />
						</adapt>
					</or>
				</enablement>
			</commonWizard>
			<commonWizard menuGroupId="8org.wso2.developerstudio.eclipse.capp.newutils"
				type="new"
				wizardId="org.wso2.developerstudio.eclipse.capp.project.serverrole">
				<enablement>
					<or>
						<adapt type="org.eclipse.core.resources.IProject">
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.developerstudio.eclipse.capp.project.nature" />
						</adapt>
					</or>
				</enablement>
			</commonWizard>			
			<actionProvider
				class="org.wso2.developerstudio.eclipse.capp.project.provider.ServerRoleNodeActionProvider"
				id="org.wso2.developerstudio.eclipse.capp.project.node.serverrole.navigator.content.actionProvider">
			<enablement>
				<or>
					<instanceof
						value="org.wso2.developerstudio.eclipse.capp.project.model.ServerRoleNode" />
				</or>
			</enablement>
		</actionProvider>
		</navigatorContent-->

		<!--
			commonFilter activeByDefault="true"
			class="org.wso2.developerstudio.eclipse.capp.project.filters.ArtifactFolderFilter"
			name="Hide artifact folders" description="Hide artifact folders"
			id="org.wso2.developerstudio.eclipse.capp.project.filters.HideArtifactFolders"
			/
		-->
	<!--/extension-->
	<extension point="org.eclipse.ui.startup">
		<startup class="org.wso2.developerstudio.eclipse.capp.project.Initializer" />
	</extension>
	<!--extension point="org.eclipse.ui.exportWizards">
		<category id="org.wso2.developerstudio.capp.eclipse.export"
			name="WSO2 CApp" />
	</extension>
	<extension point="org.eclipse.ui.editors">
		<editor default="true"
			class="org.wso2.developerstudio.eclipse.capp.project.ui.editor.ArtifactEditor"
			id="org.wso2.developerstudio.eclipse.capp.artifact.editor" name="Artifact Editor"
			icon="icons/artifact.png">
			<contentTypeBinding contentTypeId="org.wso2.developerstudio.artifact.contentType">
			</contentTypeBinding>
		</editor>
		<editor default="true"
			class="org.wso2.developerstudio.eclipse.capp.project.ui.editor.ArtifactEditor"
			id="org.wso2.developerstudio.eclipse.capp.superartifact.editor" name="Super Artifact Editor"
			icon="icons/artifact-super.png">
			<contentTypeBinding contentTypeId="org.wso2.developerstudio.superartifact.contentType">
			</contentTypeBinding>
		</editor>
	</extension-->
	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type id="org.wso2.developerstudio.artifact.contentType"
			base-type="org.eclipse.core.runtime.xml" name="CAR file content type"
			file-names="artifact.xml">
		</content-type>
		<content-type id="org.wso2.developerstudio.superartifact.contentType"
			base-type="org.eclipse.core.runtime.xml" name="Super CAR file content type"
			file-names="root-artifact.xml">
		</content-type>
	</extension>
	<extension point="org.eclipse.ui.decorators">
		<decorator adaptable="true" location="BOTTOM_RIGHT"
			lightweight="true" label="cApp Artifact Folder Label Decorator"
			state="true"
			class="org.wso2.developerstudio.eclipse.capp.project.ui.decorator.ArtifactFolderDecorator"
			id="org.wso2.developerstudio.eclipse.capp.artifact.decorators.folderDecorator">
			<enablement>
				<or>
					<objectClass name="org.eclipse.core.resources.IFolder" />
				</or>
			</enablement>
			<description>
				WSO2 Artifact Folder Decorator
        	</description>
		</decorator>
	</extension>


<!--
	<extension point="org.eclipse.ui.exportWizards">
		<wizard id="org.wso2.developerstudio.eclipse.capp.exporttocar" name="Carbon Application Archive [CAR]"
			class="org.wso2.developerstudio.eclipse.capp.project.ui.wizard.CAppExportWizard" icon="icons/car.png"
			category="org.wso2.developerstudio.capp.eclipse.export">
			<description>
				Create a carbon application archive from a carbon application project 
			</description>
			<selection class="org.eclipse.core.resources.IProject" />
		</wizard>
	</extension>-->
 <!--extension
       point="org.wso2.developerstudio.eclipse.carbonserver.publisher">
    <publisher
          class="org.wso2.developerstudio.eclipse.capp.project.publisher.CAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.capp.project.publisher30"
          serverid="org.wso2.developerstudio.eclipse.carbon.server30">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.capp.project.publisher.CAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.capp.project.publisher31"
          serverid="org.wso2.developerstudio.eclipse.carbon.server31">
    </publisher>
    <publisher
          class="org.wso2.developerstudio.eclipse.capp.project.publisher.CAppProjectPublisher"
          id="org.wso2.developerstudio.eclipse.capp.project.publisher32"
          serverid="org.wso2.developerstudio.eclipse.carbon.server32">
    </publisher>
	<publisher
          class="org.wso2.developerstudio.eclipse.capp.project.publisher.CAppProjectRemotePublisher"
          id="org.wso2.developerstudio.eclipse.capp.project.publisher.remote"
          serverid="org.wso2.developerstudio.eclipse.carbon.server.remote">          
    </publisher>
 </extension-->
	<extension point="org.eclipse.ui.preferencePages">
		<page id="org.wso2.developerstudio.eclipse.capp.preferences" name="Carbon Application"
			class="org.wso2.developerstudio.eclipse.capp.project.ui.preference.CAppPreferencePage" category="org.wso2.developerstudio.eclipse.ui.developerstudio.preferences">
		</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.wso2.developerstudio.eclipse.capp.project.preference.PreferenceInitializer">
		</initializer>
	</extension>
   <!--Following 2 extension points are responsible for hiding the artifact folders & showing the actual artifact outside the artifact folder-->
   <extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<!--contentExtension pattern="org.wso2.developerstudio.eclipse.ui.cnf.artifact.content" /-->
				<!--contentExtension pattern="org.wso2.developerstudio.eclipse.ui.cnf.artifact.filter" /-->					
			</includes>
		</viewerContentBinding>
	</extension>
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<!--navigatorContent activeByDefault="true"
			id="org.wso2.developerstudio.eclipse.ui.cnf.artifact.content"
			contentProvider="org.wso2.developerstudio.eclipse.capp.project.provider.CAppArtifactContentProvider"
			labelProvider="org.wso2.developerstudio.eclipse.capp.project.provider.CAppLabelProvider"
			name="CApp Artifact" priority="high">
			<triggerPoints>
				<or>
					<adapt type="org.eclipse.core.resources.IFolder" />
					<adapt type="org.eclipse.core.resources.IProject" />
				</or>
			</triggerPoints>
			<possibleChildren>
				<instanceof value="org.eclipse.core.resources.IFolder"/>
			</possibleChildren>
		</navigatorContent-->
		<!--commonFilter id="org.wso2.developerstudio.eclipse.ui.cnf.artifact.filter"
			name="Hide CApp Artifact Folders"
			description="Hides CApp artifact metadata from the view"
			class="org.wso2.developerstudio.eclipse.capp.project.filters.FilterCAppMetaResources"
			activeByDefault="true"
			visibleInUI="true" /-->
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution objectClass="org.eclipse.core.resources.IProject"
			id="org.wso2.developerstudio.eclipse.capp.maven">

			<menu id="org.wso2.developerstudio.eclipse.capp.maven"
				label="WSO2 Maven" path="additions">
				<separator name="group1" />
			</menu>
			<action
				id="org.wso2.developerstudio.eclipse.capp.maven.genpom"
				label="Create Maven Configuration Project"
				menubarPath="org.wso2.developerstudio.eclipse.capp.maven/group1"
				class="org.wso2.developerstudio.eclipse.capp.project.actions.CreatePOMAction"
				enablesFor="1">
			</action>
		</objectContribution>
	</extension>
	
	<!--extension point="org.eclipse.ui.popupMenus">
		<objectContribution objectClass="org.eclipse.core.resources.IProject"
			id="org.wso2.developerstudio.eclipse.capp.deploy">

			<menu id="org.wso2.developerstudio.eclipse.capp.deploy"
				label="Deploy C-App" path="additions">
				<separator name="group1" />
			</menu>
			<action
				id="org.wso2.developerstudio.eclipse.capp.deploy"
				menubarPath="new"
				label="Deploy C-App"
				priority="high"
				class="org.wso2.developerstudio.eclipse.capp.project.actions.DeployCAppAction"
				enablesFor="1">
			</action>
		</objectContribution>
	</extension-->	
	
 <extension
       point="org.wso2.developerstudio.eclipse.capp.maven.artifact.mavenplugin.generator">
    <plugin
          class="org.wso2.developerstudio.eclipse.capp.project.CARPomMavenPluginContributorProvider"
          extension="car"
          id="org.wso2.developerstudio.eclipse.capp.project.carplugin"
          type="carbon/application">
    </plugin>
    <plugin
          class="org.wso2.developerstudio.eclipse.capp.project.ExecMavenPluginContributorProvider"
          id="org.wso2.developerstudio.eclipse.capp.project.execmavenplugin"
          extension=""
          type="">
    </plugin>
 </extension>

</plugin>
