<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="WSO2 AppFactory"
            id="org.wso2.developerstudio.appfactory.ui">
      </category>
      <view
            name="WSO2 AppFactory"
            icon="icons/appfac.png"
            category="org.wso2.developerstudio.appfactory.ui"
            class="org.wso2.developerstudio.appfactory.ui.views.AppfactoryView"
            id="org.wso2.developerstudio.appfactory.ui.views.AppfactoryView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.wso2.developerstudio.appfactory.ui.views.AppfactoryView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
