<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
       <wizard
            category="org.wso2.carbonstudio.eclipse.capp.project/org.wso2.carbonstudio.eclipse.greg"
            class="org.wso2.carbonstudio.eclipse.greg.registry.handler.ui.wizard.NewRegistryHandlerWizard"
            icon="icons/new-registry-handler-16x16.png"
            id="org.wso2.carbonstudio.eclipse.greg.registry.handler.NewRegistryHandlerWizard"
            name="WSO2 Registry Handler">
            <description>Create new registry handler class</description>
      </wizard>
   </extension>

</plugin>
