<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension-point id="org.wso2.developerstudio.eclipse.maven.definitions" name="Maven ArcheType Definition Data" schema="schema/org.wso2.developerstudio.eclipse.maven.definitions.exsd"/>
   
   	<!--Adding the pop up menu contributions-->
	<!--Property Tester-->
   	<!--Command-->
	<extension point="org.eclipse.ui.commands">
  		<command
        description="Generate Maven Pom file for a Project"
        id="org.wso2.developerstudio.eclipse.maven.pom.generator"
        name="Generate POM">
  		</command>
	</extension>
	<!--Handler-->
	<extension point="org.eclipse.ui.handlers">
  		<handler
        class="org.wso2.developerstudio.eclipse.maven.ui.MavenPomGeneratorHandler"
        commandId="org.wso2.developerstudio.eclipse.maven.pom.generator">
  		</handler>
	</extension>
	<!-- Menu-->
	<extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
     <command
           commandId="org.wso2.developerstudio.eclipse.maven.pom.generator"
           style="push">
        <visibleWhen checkEnabled="false">
            <with variable="activeMenuSelection">
               <iterate ifEmpty="false" operator="and">
                  <instanceof
                     value="org.eclipse.core.resources.IProject">
                  </instanceof>
                                    <and>
                  <test
                    property="org.wso2.developerstudio.eclipse.pomgenModuleVisibility"
                    value="org.eclipse.core.resources.IProject">
              </test>                 
                  </and>
               </iterate>
           </with>
        </visibleWhen>
     </command>
  </menuContribution>
</extension>
 <extension
       point="org.eclipse.core.expressions.propertyTesters">
             <propertyTester
            class="org.wso2.developerstudio.eclipse.maven.ui.MavenPropertyTester"
            id="org.wso2.developerstudio.eclipse.maven.propertytester"
            namespace="org.wso2.developerstudio.eclipse"
            properties="pomgenModuleVisibility"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
 </extension>
</plugin>
