<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.wso2.carbonstudio.eclipse.maven.definitions">
          <archetype
          artifactId="maven-localentry-plugin"
          executeMode="DEFAULT"
          groupId="org.wso2.maven"
          id="org.wso2.carbonstudio.eclipse.maven.plugin.localentry"
          name="WSO2 Local Entry Project"
          version="1.0-SNAPSHOT">
    </archetype>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard name="Local Entry Application" category="org.wso2.carbonstudio.eclipse.category.artifacts/org.wso2.carbonstudio.eclipse.category.artifacts.localentry"
			class="org.wso2.carbonstudio.eclipse.platform.ui.wizard.WSO2ArtifactWizard"
			id="org.wso2.carbonstudio.eclipse.artifacts.wizard.localentry"
			archeTypeId="org.wso2.carbonstudio.eclipse.maven.plugin.localentry"
			artifactType="synapse/localentry"
			wizardIcon="resources/icons/local-entries-wizard-artifact.png"
			icon="resources/icons/local-entries-16x16.png">
			<description>WSO2 Local Entry Project</description>
		</wizard>
   </extension>
   	<extension point="org.eclipse.ui.navigator.viewer">
		<viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<contentExtension
					pattern="org.wso2.carbonstudio.eclipse.navigator.content.artifacts.localentry" />
			</includes>
		</viewerContentBinding>
		<viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
			<includes>
				<actionExtension
					pattern="org.wso2.carbonstudio.artifact.localentry.navigator.content.actionProvider" />
			</includes>
		</viewerActionBinding>
	</extension>
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent activeByDefault="true"
			id="org.wso2.carbonstudio.eclipse.navigator.content.artifacts.localentry"
			contentProvider="org.wso2.carbonstudio.eclipse.ui.cnf.provider.EmptyNavigatorContentProvider"
			labelProvider="org.wso2.carbonstudio.eclipse.ui.cnf.provider.EmptyNavigatorLabelProvider"
			name="Local Entry Artifacts" priority="high">
			<triggerPoints>
				<or>
					<instanceof
						value="org.wso2.carbonstudio.eclipse.capp.artifact.war.model.WARArtifactLocationNode" />
				</or>
			</triggerPoints>
			<commonWizard menuGroupId="1org.wso2.carbonstudio.eclipse.category.artifacts"
				type="new" wizardId="org.wso2.carbonstudio.eclipse.artifacts.wizard.localentry">
				<enablement>
					<or>
						<adapt type="org.eclipse.core.resources.IProject">
							<test property="org.eclipse.core.resources.projectNature"
								value="org.wso2.carbonstudio.eclipse.carbonmodules.project.nature" />
						</adapt>
					</or>
				</enablement>
			</commonWizard>
		</navigatorContent>
	</extension>
</plugin>
